services:
  db:
    image: postgres:15.15
    environment:
      POSTGRES_USER: y-morita
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data